@import "./normalize.css";
@import "./variables.css";
@import "../icomoon.css";
@import "./flex.css";
/*common*/

@import "./footer.css";
@import "./nav.css";
@import "./data-films.css";
/* ---------------------------PAGE LOGIN */

.headerLogin {
    height: 60px;
    align-items: center;
}

.headerLogin__link {
    height: 35px;
    margin-left: 5%;
    display: inline-block;
}

.header__logo {
    height: 100%;
}

.login {
    height: calc(100vh - 60px);
    padding: 0 20px;
    color: var(--color-grey-light);
}

.login__container {
    padding: 2.5rem 0;
    max-width: 350px;
    margin: auto;
}

.formLogin__control {
    background: var(--color-grey);
    display: block;
    width: 100%;
    padding-left: 1.5rem;
    line-height: 2.5;
    color: white;
    border-radius: .25rem;
    border: 0;
    margin-bottom: 2rem;
    border: 1px solid var(--color-grey);
}

.formLogin__control:focus {
    outline: none !important;
    border: 1px solid var(--color-primary-opacity);
}

.formLogin__label {
    display: inline-block;
    margin-bottom: .5rem;
}

.formLogin__button--submit {
    background: var(--color-primary);
    width: 100%;
    margin: 1rem 0;
}

.formLogin__button--submit:hover {
    background: var(--color-primary-dark);
    color: var(--color-white);
}

.form-login__linkHelp {
    font-size: 0.9rem;
}

.form-login__linkHelp:hover {
    color: var(--color-white);
}

@media only screen and (min-width: 500px) {
    .bodylogin {
        background-image: radial-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/films.jpg);
    }
    .headerLogin {
        height: 100px;
    }
    .headerLogin__link {
        height: 50px;
    }
    .login__container {
        padding: 5rem 2.5rem;
        max-width: 430px;
        background-color: RGBA(0, 0, 0, 0.8);
    }
    .login {
        height: calc(100vh - 100px);
        align-items: center;
        justify-content: center;
    }
}

/* HEADER------------------------------------ */

.hero__image {
    margin-top: 50px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    opacity: 0.8;
}

.hero__video {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.hero__details {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    max-width: 450px;
    margin: auto;
}

.hero__title {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    max-width: 388px;
}

.hero__description {
    font-size: .8rem;
    color: var(--color-grey-light);
    text-align: center;
    padding: 1rem 0 0 0;
}

.film__score {
    color: var(--color-primary);
    padding: 10px;
    margin: 1rem 0;
    border: 1px solid var(--color-primary-opacity);
    justify-content: center;
}

.hero__score-item {
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    .hero__container {
        position: relative;
        width: 100%;
    }
    .hero__content-detail {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 25%;
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
    }
    .hero__details {
        max-width: 300px;
        margin: 0;
        padding: 0;
        padding-top: 5rem;
        padding-left: 3rem;
    }
    .hero__title {
        text-align: left;
    }
    .hero__description {
        text-align: left;
    }
    @media only screen and (min-width: 1024px) {
        .hero__image, .hero__video {
            margin-top: 0;
        }
        .hero__title {
            font-size: 3rem;
        }
        .hero__details {
            padding-left: 5rem;
            max-width: 400px;
        }
        .hero__description {
            font-size: 1rem;
        }
    }
}

/*CARDS*/

.container-films {
    padding: 0px 20px 40px 20px;
}

.film-info__title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.film-info__year {
    color: var(--color-primary);
    padding-right: 10px;
}

.film-info__origin {
    color: var(--color-white);
}

.film-info__synopsis {
    padding-top: 10px;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
}

.film-info__icon {
    color: var(--color-grey-light);
    font-size: 1.5rem;
    padding-right: 10px;
}

.film-info__icon:hover {
    color: var(--color-white);
}

.thumbnail-score {
    margin: 1rem 0;
}

.section-films__title {
    color: var(--color-grey-light);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.section-films {
    margin: auto;
    max-width: 1024px;
}

.section_films__list, .section-characters__list {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.section-film__details {
    height: 145px;
    width: 240px;
    margin-right: 5px;
    transition: height .6s, width .6s;
    transition-timing-function: linear;
    position: relative;
    cursor: pointer;
}

.section-film__details:hover {
    margin-right: 5px;
    height: 420px;
    width: calc(100vw - 40px);
}

.film-info {
    width: calc(100vw - 40px);
    padding: 1rem;
    opacity: 0;
    transition: opacity .6s;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.section-film__details:hover .film-info {
    opacity: 1;
    height: 420px;
    overflow: scroll;
}

.more-information {
    width: 100%;
    display: inline-block;
    color: var(--color-grey-light);
    text-align: center;
}

.more-information:hover {
    color: var(--color-primary);
}

/*cards-character*/

.section-character__item {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5%;
    margin-right: 10px;
}

.character__image {
    height: 155px;
}

.character__name {
    padding-top: 10px;
}

.film-info__episode {
    color: var(--color-primary);
    padding-right: 10px;
}

.film-info__episode:before {
    color: var(--color-primary);
    content: "episode ";
}

@media only screen and (min-width: 768px) {
    .container-films {
        padding: 1.5rem;
        padding-bottom: 2.5rem;
        max-width: 1024px;
        margin: auto;
    }
    .film-info__synopsis {
        height: 80px;
        overflow: scroll;
        white-space: wrap;
        text-overflow: ellipsis;
    }
    .section-film__details:hover {
        height: 290px;
        width: 480px;
    }
    .film-info {
        width: 480px;
        height: 290px;
    }
    .section-film__details:hover .film-info {
        height: 100%;
    }
    .character__image {
        height: 170px;
    }
}