@import "./normalize.css";
@import "./variables.css";
@import "../icomoon.css";
@import "./flex.css";
/*common*/

@import "./footer.css";
@import "./nav.css";
/* ---------------------------PAGE LOGIN */

.headerLogin {
    height: 60px;
    align-items: center;
}

.headerLogin__link {
    height: 35px;
    margin-left: 5%;
    display: inline-block;
}

.header__logo {
    height: 100%;
}

.login {
    height: calc(100vh - 60px);
    padding: 0 20px;
    color: var(--color-grey-light);
}

.login__container {
    padding: 2.5rem 0;
    max-width: 350px;
    margin: auto;
}

.formLogin__control {
    background: var(--color-grey);
    display: block;
    width: 100%;
    padding-left: 1.5rem;
    line-height: 2.5;
    color: white;
    border-radius: .25rem;
    border: 0;
    margin-bottom: 2rem;
    border: 1px solid var(--color-grey);
}

.formLogin__control:focus {
    outline: none !important;
    border: 1px solid var(--color-primary-opacity);
}

.formLogin__label {
    display: inline-block;
    margin-bottom: .5rem;
}

.formLogin__button--submit {
    background: var(--color-primary);
    width: 100%;
    margin: 1rem 0;
}

.formLogin__button--submit:hover {
    background: var(--color-primary-dark);
    color: var(--color-white);
}

.form-login__linkHelp {
    font-size: 0.9rem;
}

.form-login__linkHelp:hover {
    color: var(--color-white);
}

@media only screen and (min-width: 500px) {
    .bodylogin {
        background-image: radial-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/films.jpg);
    }
    .headerLogin {
        height: 100px;
    }
    .headerLogin__link {
        height: 50px;
    }
    .login__container {
        padding: 5rem 2.5rem;
        max-width: 430px;
        background-color: RGBA(0, 0, 0, 0.8);
    }
    .login {
        height: calc(100vh - 100px);
        align-items: center;
        justify-content: center;
    }
}

/* HEADER------------------------------------ */

.hero__image {
    margin-top: 50px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    opacity: 0.8;
}

.hero__video {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.hero__details {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    max-width: 450px;
    margin: auto;
}

.hero__title {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    max-width: 388px;
}

.hero__description {
    font-size: .8rem;
    color: var(--color-grey-light);
    text-align: center;
    padding: 1rem 0 0 0;
}

.film__score {
    color: var(--color-primary);
    padding: 10px;
    margin: 1rem 0;
    border: 1px solid var(--color-primary-opacity);
    justify-content: center;
}

.hero__score-item {
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    .hero__container {
        position: relative;
        width: 100%;
    }
    .hero__content-detail {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 25%;
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
    }
    .hero__details {
        max-width: 300px;
        margin: 0;
        padding: 0;
        padding-top: 5rem;
        padding-left: 3rem;
    }
    .hero__title {
        text-align: left;
    }
    .hero__description {
        text-align: left;
    }
    @media only screen and (min-width: 1024px) {
        .hero__image, .hero__video {
            margin-top: 0;
        }
        .hero__title {
            font-size: 3rem;
        }
        .hero__details {
            padding-left: 5rem;
            max-width: 400px;
        }
        .hero__description {
            font-size: 1rem;
        }
    }
}