/*scroll bar styles for thumbnails------------------------------*/

.film-info__synopsis::-webkit-scrollbar {
    width: 4px;
    /*  Scroll size vertically  */
}

/* We put a background color and round the corners of the thumb */

.film-info__synopsis::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

.film-info__synopsis::-webkit-scrollbar-track {
    background: none;
}

/*scroll bar styles for list------------------------------*/

.section_films__list::-webkit-scrollbar {
    width: 0x;
    /*  Scroll size vertically  */
    height: 6px;
    /* Horizontal scroll size */
}

.section_films__list::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

.section_films__list::-webkit-scrollbar-track {
    background: none;
    border-radius: 4px;
}